

// Process Parameters:

// Process Parameters for vdjbase_input:
params.vdjbase_input.chain =  "heavy"  //*input @description:'the chain of the reads. Default heavy'

// Pipeline Config:
$HOSTNAME='default'
rocess.container = 'immcantation/suite:4.3.0'
docker.enabled = true

process {
  cpus = 24
}